# Duplica y renombra este archivo a ".env" y ajusta las variables según sea necesario.

NEXT_PUBLIC_API_URL=https://konfex-web-app-2.onrender.com/api/v1

# Si estas corriendo el backend de manera local, descomenta la siguiente línea:
## NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

