@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color-500: #8B709D;
  --secondary-color-500: #B65CF2;
  --terciary-color-500: #F2BB5C;
  --font-lato: 'Lato', sans-serif;
  /* Colores específicos del login */
  --purple-dark: #6A4E7A;
  --purple-light: #9B7BBF;
  --background-light: #F5F5F5;
  --pink-password: #D9537A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lato: var(--font-lato);
  --color-primary-500: var(--primary-color-500);
  --color-secondary-500: var(--secondary-color-500);
  --color-terciary-500: var(--terciary-color-500);
  --color-purple-dark: var(--purple-dark);
  --color-purple-light: var(--purple-light);
  --color-background-light: var(--background-light);
  --color-pink-password: var(--pink-password);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), sans-serif;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
