@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color-500: #8B709D;
  --secondary-color-500: #B65CF2;
  --terciary-color-500: #F2BB5C;
  --font-lato: 'Lato', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lato: var(--font-lato);
  --color-primary-500: var(--primary-color-500);
  --color-secondary-500: var(--secondary-color-500);
  --color-terciary-500: var(--terciary-color-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), sans-serif;
}
